$whitecolor: white;
$greenlightcolor: #99E2D0;
$greendarkcolor: #008766;
$bluelightcolor: #89C8FA;
$bluedarkcolor: #003A68;
$pinkcolor: #FF79DA;
$purplecolor: #9356DC;
$graycolor: #EAEAEA;
$blackcolor: black;