body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.header {
  width: 100%;
  height: 113px;
  display: flex;
  flex-direction: column;
}
.header__titleBar {
  z-index: 99;
  width: 100%;
  height: 63px;
  display: flex;
  align-items: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
}
.header__titleBar .titleBar__icon {
  font-size: 17.2px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.header__titleBar .titleBar__img {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 197px;
  height: 36px;
}
.header__searchBar {
  z-index: 98;
  width: 100%;
  height: 50px;
  background-color: #EAEAEA;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.header__searchBar .seacherBar__input {
  width: 109px;
  background-color: #EAEAEA;
  border: none;
}
.header__searchBar ::-moz-placeholder {
  font-size: 16px;
  color: black;
  font-weight: 500;
}
.header__searchBar ::placeholder {
  font-size: 16px;
  color: black;
  font-weight: 500;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.main__infoBar {
  width: 100%;
  height: 300px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.main__infoBar .infoBar__title {
  margin: 0;
  margin-top: 15px;
  width: calc(100% - 45px);
  height: 68px;
  font-size: 24px;
}
.main__infoBar .infoBar__text {
  margin: 0;
  width: calc(100% - 5px);
  height: 46px;
  font-size: 18px;
}
.main__infoBar .infoBar__link {
  margin: 0;
  margin: 30px;
  width: 218px;
  height: 50px;
  background: linear-gradient(360deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  text-decoration: none;
  border-radius: 25px;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s all ease-out;
}
.main__infoBar .infoBar__link:hover {
  transition: 0.3s all ease-out;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3490196078);
  background: linear-gradient(360deg, #9356DC -5.2%, #FF79DA 110.74%), linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
  opacity: 0.83;
  border-radius: 25px;
}
.main__optionBar {
  height: 420px;
}
.main__optionBar .optionBar__title {
  margin-top: 40px;
  margin-left: 15px;
}
.main__optionBar .optionBar__buttonBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  gap: 20px;
}
.main__optionBar .optionBar__buttonBar .buttonBar__button {
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: white;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  width: 100%;
  max-width: 322.49px;
  height: 72.38px;
  border-radius: 20px;
}
.main__optionBar .optionBar__buttonBar .buttonBar__button .button__number {
  color: white;
  margin-left: -13px;
  width: 24px;
  height: 24px;
  background-color: #9356DC;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}
.main__optionBar .optionBar__buttonBar .buttonBar__button .button__icon {
  color: #a8a8a8;
  width: 20px;
  height: 20px;
}
.main__optionBar .optionBar__buttonBar .buttonBar__button .icon__3 {
  color: #9356DC;
}
.main__optionBar .optionBar__buttonBar .buttonBar__button .button__text {
  font-size: 16px;
  font-weight: 500;
}
.main__cardRestaurant {
  height: 1200px;
  background-color: #f5f5f5;
}
.main__cardRestaurant .cardRestaurant__title {
  margin-top: 40px;
  margin-left: 15px;
}
.main__cardRestaurant .cardRestaurant__card {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.main__cardRestaurant .cardRestaurant__card .card__link {
  text-decoration: none;
}
.main__cardRestaurant .cardRestaurant__card .card__link .link__article {
  width: 340px;
  height: 251px;
  background-color: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  border-radius: 15px;
}
.main__cardRestaurant .cardRestaurant__card .card__link .link__article .article__contentImg {
  position: relative;
}
.main__cardRestaurant .cardRestaurant__card .card__link .link__article .article__contentImg .contentImg__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 340px;
  height: 171px;
  border-radius: 15px 15px 0px 0px;
}
.main__cardRestaurant .cardRestaurant__card .card__link .link__article .article__contentImg .contentImg__img--allImg {
  -o-object-position: 100% 100%;
     object-position: 100% 100%;
}
.main__cardRestaurant .cardRestaurant__card .card__link .link__article .article__contentImg .contentImg__img--exeptedImg {
  -o-object-position: 100% 61%;
     object-position: 100% 61%;
}
.main__cardRestaurant .cardRestaurant__card .card__link .link__article .article__contentImg .contentImg__news {
  position: absolute;
  margin: 0;
  top: 15px;
  right: 15px;
  color: #008766;
  width: 80px;
  height: 29px;
  border-radius: 2px;
  background-color: #99E2D0;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
}
.main__cardRestaurant .cardRestaurant__card .card__link .link__article .article__description {
  margin-top: -5px;
  height: 70px;
  display: flex;
  justify-content: space-evenly;
  box-sizing: border-box;
  height: 100%;
  color: black;
}
.main__cardRestaurant .cardRestaurant__card .card__link .link__article .article__description .description__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70px;
  width: 247px;
  margin: 0;
}
.main__cardRestaurant .cardRestaurant__card .card__link .link__article .article__description .description__text .text__title {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.09px;
}
.main__cardRestaurant .cardRestaurant__card .card__link .link__article .article__description .description__text .text__subtitle {
  margin: 0;
  font-size: 17px;
  font-weight: 300;
  line-height: 19.92px;
}
.main__cardRestaurant .cardRestaurant__card .card__link .link__article .article__description .description__icon {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__cardRestaurant .cardRestaurant__card .card__link .link__article .article__description .description__icon .icon__checkbox {
  margin-top: -0.5px;
  margin-left: -0.5px;
  position: absolute;
  width: 25px;
  height: 25px;
  opacity: 0;
}
.main__cardRestaurant .cardRestaurant__card .card__link .link__article .article__description .description__icon .icon__checkbox:checked + .icon__svg .svg__stroke {
  fill: url(#svg__Gradient);
  stroke: url(#svg__Gradient);
}
.main__cardRestaurant .cardRestaurant__card .card__link .link__article .article__description .description__icon .icon__svg {
  width: 30px;
  height: 30px;
}

.footer {
  height: 170px;
  background-color: rgb(59, 59, 59);
}
.footer__img {
  margin-top: 15px;
  width: 137.58px;
  height: 18px;
}
.footer__img > path {
  fill: white;
}
.footer__article {
  margin-top: 15px;
  margin-left: 15px;
}
.footer__article .article__link {
  margin-top: 6.5px;
  text-decoration: none;
  color: white;
  display: flex;
  gap: 15px;
}
.footer__article .article__link .link__icon {
  width: 11px;
  height: 13px;
}/*# sourceMappingURL=style.css.map */