.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    &__titleBar {
        z-index: 99;
        height: 63px;
        display: flex;
        align-items: center;
        @media screen and (min-width: $screenWidth-Computer) {
            justify-content: center;
            height: 96.34px;
        }

        .titleBar__link {
            text-decoration: none;
            color: black;
            margin: 0;
            margin-left: 15px;
            @media screen and (min-width: $screenWidth-Computer) {
                position: absolute;
                left: 20px;
                margin-left: 0;
            }

            .link__icon {
                font-size: 19px;
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        

        .titleBar__img {
            position: absolute;
            left: 50%;
            transform: translate(-50%);
            width: 197px;
            height: 36px;
            @media screen and (min-width: $screenWidth-Computer) {
                position: relative;
                left: 0;
                transform: none;
            }
        }
    }

    &__img {
        height: 275px;
        position: relative;
        object-fit: cover;
        object-position: 100% 70%;
        @media screen and (min-width: $screenWidth-Computer) {
            height: 383px;
        }
    }
}