body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
$whitecolor: white;
$greenlightcolor: #99E2D0;
$greendarkcolor: #008766;
$bluelightcolor: #89C8FA;
$bluedarkcolor: #003A68;
$pinkcolor: #FF79DA;
$purplecolor: #9356DC;
$graycolor: #EAEAEA;
$blackcolor: black;
$darkgray: #353535;
$graycolor2: #F6F6F6;
$screenWidth-Computer: 768px;
$screenWidth-Computer2: 1024px;

@media screen and (min-width: $screenWidth-Computer) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@import "./modules/header.scss";
@import "./modules/container.scss";
@import "./modules/footer.scss";
@import "./modules/keyframes.scss";
@import "./modules/contentCard.scss";