@keyframes LoaderTime {
    to {
        opacity: 1;
        display: flex;
    }
}

@keyframes RemoveLoader {
    to {
        display: none;
        opacity: 0;
    }
}

@keyframes svgLoader {
    0% {
        fill: black;
        scale: 1;
    } 25% {
        fill: url(#svg__Gradient);
        opacity: 0.5;
    } 50% {
        fill: url(#svg__Gradient);
        opacity: 1;
    } 75% {
        fill: url(#svg__Gradient);
        opacity: 0.5;
    } 100% {
        fill: black;
        scale: 1;
    }
}

@keyframes loadCount {
    0% {
        content: "0%";
    } 10% {
        content: "10%";
    } 20% {
        content: "20%";
    } 30% {
        content: "30%";
    } 40% {
        content: "40%";
    } 50% {
        content: "50%";
    } 60% {
        content: "60%";
    } 70% {
        content: "70%";
    } 80% {
        content: "80%";
    } 90% {
        content: "90%";
    } 100% {
        content: "100%";
    }
}

@keyframes HeartAnimation {
    0% {
        fill-opacity: 0.5;
        stroke-opacity: 0.5;
        fill: white;
        stroke: black;
    } 25% {
        fill-opacity: 0.25;
        stroke-opacity: 0.25;
    } 50% {
        fill-opacity: 0.5;
        stroke-opacity: 0.5;
        fill: url(#svg__Gradient2);
        stroke: url(#svg__Gradient2);
    } 75% {
        fill-opacity: 0.75;
        stroke-opacity: 0.75;
        fill: url(#svg__Gradient2);
        stroke: url(#svg__Gradient2);
    } 100% {
        fill-opacity: 1;
        stroke-opacity: 1;
        fill: url(#svg__Gradient2);
        stroke: url(#svg__Gradient2);
    }
}

@keyframes HeartAnimation2 {
    0% {
        fill-opacity: 1;
        stroke-opacity: 1;
        fill: url(#svg__Gradient2);
        stroke: url(#svg__Gradient2);
    } 25% {
        fill-opacity: 0.75;
        stroke-opacity: 0.75;
        fill: url(#svg__Gradient2);
        stroke: url(#svg__Gradient2);
    } 50% {
        fill-opacity: 0.5;
        stroke-opacity: 0.5;
        fill: url(#svg__Gradient2);
        stroke: url(#svg__Gradient2);
    } 75% {
        fill-opacity: 0.25;
        stroke-opacity: 0.25;
    } 100% {
        fill-opacity: 0.5;
        stroke-opacity: 0.5;
        fill: white;
        stroke: black;
    }
}